#wrapper {
	font-family: Georgia;
	font-size: 12px;
}



/* Header */
#header {
	background-image: url("../images/header.png");
	height: 120px;
}
#main-menu {
	border-bottom: 1px solid #e1e1e1;
	margin-top: 1em;
	margin-bottom: 1em;
}
#main-menu ul {
	border: none;
	padding-left: 40px;
}
#main-menu ul li {
	display: inline-block;
	background-color: #e1e1e1;
	padding: 5px;
}
#main-menu a {
	text-decoration: none;
	color: #666666;
	font-size: 13px;
}




.region-sidebar {
	background-color: #eaeaea;
	color: #6e6e6e;
	font-family: Arial;
	margin-top: 10px;
}
#sidebar h2 {
	padding: 10px;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
	font-weight: bold;
}
#sidebar ul li {
	padding: 10px;
	font-size: 11px;
}


.node h2 {
	padding: 20px 0;
}
.node-content {
	font-size: 15px;
}
.arial {
	font-family: Arial;
	font-size: 13px;
}
.node-links {
	margin-bottom: 5px;
	margin-top: 5px;
}
.pager .links li {
	margin: 5px;
}
a {
	text-decoration: none;
}


/* Tags */
.field-name-field-tags {
	margin: 20px 0 20px 20px;
}
.field-name-field-tags .field-label {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
}
.field-name-field-tags .field-item {
	display: inline-block;
	text-decoration: underline;
}
.field-name-field-tags .field-item a {
	color: #8fdada;
	padding-right: 5px;
	font-family: Arial;
}





/* Front Page */

.node-teaser .node-content {
	border-bottom: 1px solid #e1e1e1;
	color: #666666;
	padding-bottom: 15px;
}

.node-teaser .node-content img {
	float: left;
	padding-right: 10px;
}

.node-teaser h2 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.node-teaser p {
	font-size: 12px;
}


#promo-block-1 img, #promo-block-2 img {
	padding-top: 20px;
}
#promo-block-1, #promo-block-2 {
	position: relative;
}
#promo-block-1 p, #promo-block-2 p {
	position: absolute;
	font-style: italic;
	font-size: 14px;
	width: 260px;
	height: 33px;
	overflow: hidden;
}
#promo-block-1 .first {
	top: 188px;
	left: 0px;
}
#promo-block-1 .second {
	top: 188px;
	left: 300px;
}
#promo-block-2 .third {
	top: 188px;
	left: 0px;
}
#promo-block-2 .fourth {
	top: 188px;
	left: 300px;
}




/* Project Page */
#project-blurb p {
	font-size: 15px;
}
.project-item {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
}
.project-item p, .related-video p, .related-video h5 {
	color: #666666;
}
#project-video ul li {
	display: inline-block;
	background-color: #fbb300;
	padding: 5px;
	color: white;
}
#project-video ul {
	border-bottom: 1px solid #fbb300;
}
.related-video p {
	height: 100px;
	overflow: hidden;
	margin: 0px;
	font-size: 11px;
}
.related-video h5 {
	margin-top: 5px;
	margin-bottom: 0px;
}
.related-video p, #project-video img {
	margin-top: 5px;
	margin-bottom: 10px;
}








/* Story Page */
.field-name-field-caption {
	font-family: Arial;
	font-size: 11px;
	color: #666666;
	margin-bottom: 10px;
}
#comments {
	background-color: #c7b29a;
	padding: 10px 20px 20px 20px;
	font-family: Arial;
	margin-bottom: 20px;
}
#comments h2 {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
	font-weight: bold;
	background-color: white;
	margin: -10px -20px 0 -20px;
	padding: 5px;
}
h2.comment-form {
	margin: 0px ! important;
	padding: 15px ! important;
}
.comment .submitted {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 12px;
	color: #6e6e6e;
	font-weight: bold;
	padding: 2px;
	margin-top: 10px;
}
.comment .content {
	background-color: white;
	color: #6e6e6e;
	padding: 15px;
	font-size: 12px;
	margin-bottom: 15px;
}
.comment-form {
	padding: 15px;
	background-color: white;
}

.node-story-page p {
	font-size: 15px;
}

input#edit-subject {
	width: 100%;
}



/* Search Results */
.search-item {
	height:50px;
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
}
.search-item p {
	margin: 0;
	color: #666666;
}
.search-item h3 {
	margin: 0;
}
#search-sidebar p {
	font-size: 11px;
}




/* Project Archive */
#archive-sidebar p {
	font-size: 14px;
	font-style: italic;
}
#archive-image {
	position: relative;
}
#archive-image a p {
	position: absolute;
	color: white;
	background-color: black;
	display: none;
	bottom: 0px;
	width: 150px;
	padding: 5px;
}
#archive-image a {
	position: absolute;
	display: inline-block;
	height: 113px;
	text-decoration: none;
}
#archive-image a:hover p {
	display: block;
}





/* Footer */
#footer {
	background-image: url("../images/footer.png");
	height: 290px;
	overflow: hidden;
	color: #fefefe;
}
#footer .region {
	padding: 10px;
}

#footer h3, #story-content h3, .sidebar-item h3, .tags h3 {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
}

#footer h2 {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
	font-weight: bold;
}

#footer-1 {
	color: #cccccc;
	border-right: solid 1px #CCC;
}
#footer-1 h2 {
	color: #999999;
}
#footer-2 h2 {
	color: #ffff00;
}
#footer-3 h2 {
	color: #66cccc;
}