body {
	font-family: Georgia;
	font-size: 12px;
}



/* Header */
header {
	background-image: url("../images/header.png");
	height: 120px;
}

#main-menu ul li {
	display: inline-block;
	background-color: #e1e1e1;
	padding: 5px;
	color: #666666;
}
#main-menu ul {
	border-bottom: 1px solid #e1e1e1;
}




.sidebar-item {
	font-family: Arial;
	background-color: #eaeaea;
	color: #6e6e6e;
}

.arial {
	font-family: Arial;
	font-size: 13px;
}
.sidebar p, .sidebar h3 {
	padding: 10px;
}





/* Front Page */
.news-item {
	margin-bottom: 20px;
	height: 94px;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
}
.news-item p {
	margin-left: 50px;
	color: #666666;
}
.news-item h3 {
	margin-top: 5px;
}

#template-front .news-item h3 {
	margin-top: 0px;
}
#template-front .news-item img {
	clear: both;
	float: left;	
}
.sticky-icon {
	padding-top: 7px;
	padding-left: 5px;
}
#promo-block-1 img, #promo-block-2 img {
	padding-top: 20px;
}
#promo-block-1, #promo-block-2 {
	position: relative;
}
#promo-block-1 p, #promo-block-2 p {
	position: absolute;
	font-style: italic;
	font-size: 14px;
	width: 260px;
	height: 33px;
	overflow: hidden;
}
#promo-block-1 .first {
	top: 188px;
	left: 0px;
}
#promo-block-1 .second {
	top: 188px;
	left: 300px;
}
#promo-block-2 .third {
	top: 188px;
	left: 0px;
}
#promo-block-2 .fourth {
	top: 188px;
	left: 300px;
}




/* Project Page */
#project-blurb p {
	font-size: 15px;
}
.project-item {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
}
.project-item p, .related-video p, .related-video h5 {
	color: #666666;
}
#project-video ul li {
	display: inline-block;
	background-color: #fbb300;
	padding: 5px;
	color: white;
}
#project-video ul {
	border-bottom: 1px solid #fbb300;
}
.related-video p {
	height: 100px;
	overflow: hidden;
	margin: 0px;
	font-size: 11px;
}
.related-video h5 {
	margin-top: 5px;
	margin-bottom: 0px;
}
.related-video p, #project-video img {
	margin-top: 5px;
	margin-bottom: 10px;
}
.tags p {
	color: #8fdada;
	text-decoration: underline;
}




/* Story Page */
.story-caption {
	font-family: Arial;
	font-size: 11px;
	color: #666666;
}
#story-comments-content {
	background-color: #c7b29a;
	padding: 10px 20px 20px 20px;
}
#story-content #story-comments-content p {
	background-color: white;
	color: #6e6e6e;
	padding: 15px;
	font-size: 12px;
}
#story-content #story-comments-content h3 {
	font-size: 12px;
}
#story-content p {
	font-size: 15px;
}
#story-sidebar h3, #search-sidebar h3 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#story-sidebar p, #search-sidebar p {
	font-size: 11px;
}
#story-sidebar ul, #search-sidebar ul {
	list-style-type: none;
	padding-left: 10px;
	margin: 0px;
	line-height: 2em;
	font-size: 11px;
}



/* Search Results */
.search-item {
	height:50px;
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
}
.search-item p {
	margin: 0;
	color: #666666;
}
.search-item h3 {
	margin: 0;
}
#search-sidebar p {
	font-size: 11px;
}




/* Project Archive */
#archive-sidebar p {
	font-size: 14px;
	font-style: italic;
}
#archive-image {
	position: relative;
}
#archive-image a p {
	position: absolute;
	color: white;
	background-color: black;
	display: none;
	bottom: 0px;
	width: 150px;
	padding: 5px;
}
#archive-image a {
	position: absolute;
	display: inline-block;
	height: 113px;
	text-decoration: none;
}
#archive-image a:hover p {
	display: block;
}





/* Footer */
footer {
	background-image: url("../images/footer.png");
	height: 290px;
	overflow: hidden;
	color: #fefefe;
}
footer h3, #story-content h3, .sidebar-item h3, .tags h3 {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 13px;
	color: #6e6e6e;
}

.footer-first {
	color: #cccccc;
}
.footer-first h3 {
	color: #999999;
}
.footer-second h3 {
	color: #ffff00;
}
.footer-third h3 {
	color: #66cccc;
}